*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:rgb(51, 255, 0);
}
.wrapper{
    background-color: black;
    border-radius: 10px;
    width: 770px;
    padding: 35px;
    color: rgb(0, 255, 0);
}
.wrapper .input-field{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.content-box{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 13px 20px 0;
}
.typing-text{
    max-height: 255px;
    overflow-y: auto;
}
.typing-text::-webkit-scrollbar{
    width: 0;
}
.typing-text p{
    font-size: 1.8rem;
    text-align: justify;
    word-break: break-all;
    letter-spacing: 1px;
    
    
    
}
.typing-text p span{
    position: relative;
}
.typing-text p span.correct{
    color: green;
    background: lawngreen ;
}
.typing-text p span.incorrect{
    color: red;
    background: pink;
    
    border-radius: 2px;
}

.typing-text p span.active{
    color: lawngreen;
}
.typing-text p span.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 100%;
    background: lawngreen;
    animation: blink 1s ease-in-out infinite;
    opacity:0;
}
@keyframes blink {
    50%{
        opacity: 1;
    }
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
    padding: 12px 0;
    border-top: 1px solid #ccc;
}
.result-details{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 140px);
}
.result-details li{
    display: flex;
    list-style: none;
    height: 22px;
}
.result-details li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #ccc;
}
.result-details li p{
    font-size: 1.1rem;
}
.result-details li span{
    display: block;
    font-size: 1.2rem;
    margin-left: 10px;
}
.result-details li:not(:first-child) span{
    font-weight: bold;
}
.content button{
    border: none;
    outline: none;
    background-color: lawngreen;
    width: 105px;
    padding: 8px 0;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s ease;
}
.content button:active{
    transform:scale(0.97);
}